.App {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.search-container {
align-self: flex-end;
margin-top: 4rem; 
margin-right: 4rem;
height: 60px;
}


.search-container input {
  font-size: 2rem;
  padding: 0.5rem; 
}
